.header {
  background: #2b333c;
  // background:  #39414A; 
  // background-color: #5da0a1;
  color: #fff;
  position: relative;
  // height: 30em;

}

.intro__h2 {
  font-weight: 200;
}

.intro__h1 {
  font-size: 4em;
  font-weight: 600;
}

.header__main {
  padding: 8em 10px;
  width: 80%;
  max-width: 600px;
  z-index: 100;
  position: relative;
  text-align: left;
  line-height: 1.3;
}