.Footer {
  background-color: #2a2d2f;
  padding: 5em 0;
  margin-top: 5em;
  text-align: center;

  &__socialItem {
    margin: 0 10px;
  }

  &__socialItem__Img {
    width: 2.3em;
    height: 2.3em;
  }
}

.CopyRight {
  margin-top: 2em;
  color: #aaa;
}
.CodeWithLove  {
  background: #212223;
  color: #ccc;
  text-align: center;
  padding: 5px;
  code {
    padding: 1px 5px;
    font-weight: bold;
  }
  .codeChar {
    color: #ffd300;
  }
}
